body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e4e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 30px;
  margin:14px;
}

p {
  font-size: 18px;
}

input {
  height: 30px;
  margin: 10px 0;
  font-size: 18px;
  font-family: monospace;
  border: none;
}

button {
  height: 35px;
  margin: 10px 0;
  background-color: #e10099;
  border: none;
  color: white;
  font-size: 20px;
  font-family: monospace;
}
